* {
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    flex-direction: column;
    display: flex;
    font-family: 'Kanit', sans-serif;
}

@media (min-width:768px) {

    body {
        background-color: #eeeeee;
        height: 100em;
    }

    #titulo {
        text-align: center;
        margin-bottom: 70px;
        color: #464646;
    }

    #diametro {
        margin-bottom: 10px;
    }

    #curso {
        margin-bottom: 10px;
    }

    #cilindros {
        margin-bottom: 10px;
    }

    #cabecote {
        margin-bottom: 10px;
    }

    #compressao-desejada {
        margin-bottom: 10px;
    }

    #compressao-atual {
        margin-bottom: 10px;
    }

    .paragrafo {
        font-weight: 500;
        font-size: 18px;
        color: #333333
    }

    input {
        background-color: #000000;
        color: white;
        font-weight: 500;
        width: 75%;
    }

    h1 {
        color: white;
        font-weight: 500;
    }

    p {
        color: white;
    }

    #btn {
        width: 80px;
        margin-top: 85px;
        margin-left: 9%;
        margin-bottom: 71px;
    }

    .resultado {
        font-weight: 500;
    }

    input:active {
        background-color: #000000;
        color: white;
    }
}

@media (max-width:767px) {

    body {
        background-color: #cccccc;
        height: 100vh;
    }

    #titulo {
        text-align: center;
        margin-bottom: 80px;
        color: #464646;
    }

    #diametro {
        margin-bottom: 8px;
    }

    #curso {
        margin-bottom: 8px;
    }

    #cilindros {
        margin-bottom: 8px;
    }

    #cabecote {
        margin-bottom: 8px;
    }

    #compressao-desejada {
        margin-bottom: 8px;
    }

    #compressao-atual {
        margin-bottom: 0px;
    }

    .paragrafo {
        font-weight: 500;
        color: #111111;
    }

    input {
        background-color: #000000;
        color: white;
        width: 75%;
    }

    h1 {
        color: white;
        font-weight: 500;
    }

    p {
        color: white;
        font-size: 14px;
    }

    #btn {
        width: 80px;
        margin-top: 80px;
        margin-left: 14px;
        margin-bottom: 80px;
    }

    .resultado {
        font-weight: 500;
    }

    input:active {
        background-color: #000000;
        color: white;
    }
}
